git+git://github.com/shughes-uk/python-twitchchat.git
git+git://github.com/shughes-uk/python-youtubechat.git
git+git://github.com/shughes-uk/python-twitchevents.git
pillow
pyyaml
fonttools
webcolors
hg+http://bitbucket.org/pygame/pygame
